set b1 this_really_long_input_because_I_love_myself_this_________________________________________________________________________________________________________________________________________________________much
print b1
create f1
open f1
write b1
set b2 this_might_be_binary_in_some_other_life_00000101110000101001000100100010101010101010101010101010001010100000000000000011
write b2
close
write b2
open f1
write b2
showinfo
write b2
seek 0
write b1
close
create f2
open f2
write b2
showinfo
del f1
write b2
print b2
create f3
open f3
write b1
write b2
write b3
set b3 blah_blah_blah_blah_blah_hahahahahahahahahahaha
write b3
showinfo
seek 10
read 15 b2
print b2
set b4 text_domination__________________________________________________________________________________________________________________________________________
create f4
close
close
close
open f4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
write b4
showinfo
close
create f5
open f5
set b2 _
print b2
write b1
del f4
print b2
print b1
showinfo
